html, body, #root {
  margin: 0px;
  height: 100%;
}

/* ##################################################*/
/* ################## Login Page ####################*/
/* ##################################################*/
.login-div {
  background-image: url('https://media.self.com/photos/62c6fe17bd9ad7fb45b283d5/3:4/w_2880,h_3840,c_limit/best-wedding-guest-dresses.jpeg');
  background-size: cover;
  height: 100%;
  position: relative;
}

.login-buttons-div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.login-title {
  color: black;
}

.login-buttons {
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 100px;
}

/* ##################################################*/
/* ################## Home Page #####################*/
/* ##################################################*/
.home-buttons-div {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.home-button {
  padding: 7px;
  width: 150px;
  align-self: center;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(223, 207, 186);
}

.home-heading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.home-banner {
  width: 100%;
  height: 60%;
  background-image: url('https://media.self.com/photos/62c6fe17bd9ad7fb45b283d5/4:3/w_2560%2Cc_limit/best-wedding-guest-dresses.jpeg');
  background-size: cover;
  text-align: center;
  margin-top: 0;
  position: relative;
}

/* ##################################################*/
/* ################# Browse Page ####################*/
/* ##################################################*/
.browse-dress-images-div {
  display: grid;
  grid-template-columns: auto auto auto;
}

.browse-dress-image {
  width: 100%;
}

.browse-item-heading {
  margin-left: 5px;
}

.browse-home-button {
  padding: 7px;
  width: 100px;
  align-self: center;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(223, 207, 186);
}

/* ##################################################*/
/* ################## Search Bar ####################*/
/* ##################################################*/
.search-filter {
  text-align: center;
  /* background-image: url('https://media.self.com/photos/62c6fe17bd9ad7fb45b283d5/4:3/w_2560%2Cc_limit/best-wedding-guest-dresses.jpeg'); */
}

.search-bar {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px;
}

.browse-home-button {
  margin-bottom: 10px;
}
/* ##################################################*/
/* ################# Detail Page ####################*/
/* ##################################################*/
.item-detail-images-div {
  display: grid;
  grid-template-columns: auto auto auto;
}

.detail-dress-image {
  width: 100%;
}

.item-detail-info {
  text-align: center;
}

.item-detail-buttons-div {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.item-detail-button {
  padding: 7px;
  width: 150px;
  align-self: center;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(223, 207, 186);
}

/* ##################################################*/
/* ################### Add Page #####################*/
/* ##################################################*/
.add-form {
  text-align: center;
}

.add-form-input {
  width: 250px;
}

.add-submit-button {
  margin-top: 10px;
  padding: 7px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: rgb(223, 207, 186);
}

/* ##################################################*/
/* ################## Profile Page ##################*/
/* ##################################################*/
.profile-info-div {
  text-align: center;
  margin-top: 10px;
}

.profile-image {
  border-radius: 50%
}

.profile-page-buttons {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.profile-page-button {
  align-self: center;
  margin-top: 10px;
  padding: 7px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: rgb(223, 207, 186); 
}