.dresses-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.home-buttons-div {
  text-align: center;
}

.home-grid-image {
  width: 100%;
  /* min-height: 100%; */
}

.home-button {
  display: block;
}